.nav-list {
    background-color: #9c33b6;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-list a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } 

  .nav-list li:not(:first-child){ float:right;}
  
  .nav-list a:hover {
    background-color: #98a58f;
    color: black;
  }
  
  .hamburger {
    display: none;
  }

  @media screen and (max-width: 600px) {
    
    .nav-list li:not(:first-child){ display: none;}

    .nav-list li:last-child {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .nav-list.responsive {position: relative;}
    .nav-list.responsive a.burgerLink {
      position: absolute;
      right: 0;
      top: 0;
    }

    .nav-list.responsive li {
      float: none;
      display: list-item;
      text-align: left;
    }

    .nav-list.responsive a{
      float:none;
      text-align: left;
    }
  }
  